$main-font: "pragmatapro-fraktur", serif;
$text-font: "skolar-sans-latin", sans-serif;

html, body {
overflow-x: hidden;
background-color: white;
}

h1, h2, h3 {
    margin: 0;
    font-family: $main-font;
    font-weight: 700;
}

p, span{
    font-family: $text-font;
    font-weight: 400;
    text-wrap: pretty;
}

li {
    font-family: $text-font;
    font-weight: 400;
    text-align: left;

    span {
        font-family: $main-font;
        font-weight: 700;
    }
}

a {
    font-family: $main-font;
    font-weight: 700;
    transition: all 0.3s ease;
}

.content {
    max-width: 100% !important;
    text-align: unset;
    margin: 0 !important;
}
