$width_medium: calc(120px - 100vw);

.header {
    position: fixed;
    z-index: 99;
    inset: 0;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid white;

    .container {
        height: 100%;
        max-width: clamp(320px,80%, 1600px);
        margin: 0 auto;
    }

    &__logo {
        height: 100px;
        width: 260px;
        backdrop-filter: blur(10px);
        padding-right: 30px;
        border-right: 1px solid white;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__nav {
        height: 100px;
        width: 100%;
        padding-left: 30px;
        backdrop-filter: blur(10px);
    }

}