.loginPage {

    &__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 40px;
        height: calc(100vh - 120px);
        position: relative;


    }

    &__wrapper {
        color: black;
        width: 300px;
        position: relative;
        top: 20vh;

        h2 {
            color: black;
            margin-bottom: 20px;
        }

        form {
            width: 300px;
            margin-bottom: 20px;
            
            div {
                display: flex;
                flex-flow: column nowrap;
                gap: 10px;
                align-items: flex-start;
                margin-bottom: 20px;
                width: 300px;
                
                input {
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 5px;
                    width: 100%;
                }
            }
        }
    }
}